:root {
  --succes-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #186b8b;
  font-family: "Roboto", sans-serif;
  color: #f5640d;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.container {
  background-color: #628195;
  border-radius: 9px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  width: 500px;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}
.form {
  padding: 30px 40px;
}

.form__control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form__control label {
  display: block;
  margin-bottom: 5px;
}

.form__control input {
  border: 2.5px solid #f0f0f0;
  border-radius: 7px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form__control input:focus {
  outline: 0;
  border-color: #628195;
}

.form__control.succes input {
  border-color: var(--succes-color);
}
.form__control.error input {
  border-color: var(--error-color);
}

.form__control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form__control.error small {
  visibility: visible;
}

.form button{
    cursor: pointer;
  background-color: #0E223A;
  border: 2px solid #0E223A;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%; 
}